<!DOCTYPE html>
<html>
<head>
<title>Index</title>
</head>

<body>
<p>
    Greetings, student number <% if (id) { %><h2><%= id %></h2><% } %> <% if (name) { %><h2> name <%= name %></h2><% } %>
</p>
</body>

</html>
